body {
    background-color: rgb(35, 159, 35);
    font-size: 30px;
}

a {
    color: rgb(111, 183, 247);
}

main {
    width: 80%;
    margin: 30vh auto;
    height: 20%;
    text-align: center;
}

.hide {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}

.hide:hover{
    display: none;
}

.show {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.hidden {
    display: none;
}

/*not sure if viable chatgpt says it is*/
.trigger:hover .hidden {
    display: block;
}

.trigger:hover {
    background-color: purple;
}

.container {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 27px;
}

