body{
    background-color: rgb(136, 255, 209);
}

p{
    margin: 20px;
}

button{
    margin: 15px;
}

.grid-container{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: 'header header header header header header side' 'title . . . wide wide side' 'title . . . wide wide side' 'title . . . wide wide side';
}

.grid-container > div {
    border: 2px solid black;
}

.wide{
    grid-area: wide;
}

.side{
    grid-area: side;
}

.header{
    grid-area: header;
}

.title{
    grid-area: title;
}

.unideal-grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.flex-container{
    display: flex;
}

.unideal-flex{
    display: grid;
}

.reveal-box{
    background-color: lightgreen;
    border: lightyellow;
}

.reveal-box p{
    background-color: lightblue;
}