body {
    background-color: rgb(84 171 205);
    font-size: 30px;
}

a {
    color: rgb(255 218 0);
}

main {
    width: 80%;
    margin: 30vh auto;
    text-align: center;
}

.hide {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}

.hide:hover{
    display: none;
}

.show {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.hidden {
    opacity: 0.1;
}

/*not sure if viable chatgpt says it is*/
.hidden:hover{
    opacity: 1;
}

.trigger:hover {
    background-color: purple;
}

.container {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 27px;
}

ul {
    list-style-type: none;
    display: inline-block;
    padding: 0px !important;
    margin: 0px !important;
}

